body{
    background-color: rgba(156, 156, 156, 0.46);
    font-family: monospace;
    color: black;
}
.menu{
    margin-top: 100px;
    color: black;
    text-align: center;
    font-family: cursive;
    font-weight: bold;
    margin: 150px;
}
h1{
    color: black;
    text-align: center;
}